.name {
	color: #efeee7;
	background-color: #4aaaa5;
	text-align: center;
	padding: 27px 20px;
	margin: 0;
	font-size: 28px;
	font-family: "Georgia", "Times", "Times New Roman", "serif";
	font-weight: bold;
}

#bio-image {
	max-width: 30%;
	margin-right: 20px;
}

h2 {
	font-size: 24px;
	font-family: "Georgia", "Times", "Times New Roman", "serif";
	color: #4aaaa5;
	font-weight: bold;
}

h3 {
	font-family: "Georgia", "Times", "Times New Roman", "serif";
	color: #4aaaa5;
	font-size: 20px;
	font-weight: bold;
}

.main-bio {
    border-style: solid;
    border-width: 1px;
    background-color: #ffffff;
    padding: 30px;
    border-color: #cccccc;
    margin-bottom: 120px;
}

.main-bio p {
	font-size: 1.3em;
	color: #777777;
	line-height: 150%;
	font-family: "Arial", "Helvetica Neue", "Helvetica", "sans-serif";
}

.contact-info {
    border-style: solid;
    border-width: 1px;
    background-color: #ffffff;
    padding: 30px;
    border-color: #cccccc;
}

.icon img {
	width: 60px;
	height: 60px;
}

.footer {
	border-top: 8px;
	border-top-style: solid;
	border-top-color: #4aaaa5;
	text-align: center;
	background-color: #666666;
	color: #dddddd;
	height: 100px;
	padding-top: 31px;
    font-size: 14px;
	margin-top: 40px;
}

div.title {
	height: 60px;
	font-size: 18px;
	background-color: #4aaaa5;
	color: #efeee7;
	text-align: center;
	font-family: "Georgia", "Times", "Times New Roman", "serif";
	padding-top: 15px;
}

.margin-fix {
	margin-bottom: 37px;
}


.main-portfolio {
    border-style: solid;
    border-width: 1px;
    background-color: #ffffff;
    padding: 30px;
    border-color: #cccccc;
    margin-bottom: 120px;
}

div .game {
	height: 200px;
	padding-top: 125px;
	background-size: cover;
	background-position: center center;
}

div.game.mind{
	background-image: url(../images/mind.jpeg);
}

div.game.horse{
	background-image: url(../images/images.jpeg);
}

div.game.crochet{
	background-image: url(../images/170px-Crohook.jpg);
}

div.game.books{
	background-image: url(../images/download.jpeg);
}

div.game.improve{
	background-image: url(../images/improve.jpeg);
}


.none {
	display: none;
}





